.main {
    background: #e6ecf1;
    text-align: center;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer{
    height: 5vh;
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}
.film {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.box {
    margin-bottom: 0;
    border-radius: 0;
}

.level-item {
    color: #b3b3cc;
}

.search {
    width: 100%;
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    border: 3px solid #3490dc;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #3490dc;
    min-height: 36px;
}

.searchTerm:focus{
    color: #3490dc;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #3490dc;
    background: lightgray;
    text-align: center;
    color: #3490dc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 20%;
    height: 2%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
